@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
        @Html.ActionLink("Clients", "Index", "clients")<br />
        @Html.ActionLink("Emplacements", "Index", "emplacements")<br />
        @Html.ActionLink("Séjours", "Index", "sejours")<br />
        @Html.ActionLink("Options", "Index", "options")
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Les Clients</h2>
        <p>
            Ce module vous permet de créer, modifier et supprimer des clients du camping.
        </p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Liste des clients &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Les emplacements</h2>
        <p>Ce module vous permet de créer, modifier et supprimer des emplacements du camping.</p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301866">Liste des emplacements &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Les séjours</h2>
        <p>Ce module vous permet de créer, modifier et supprimer les séjours du camping.</p><br />
        <p>Il permet également de générer le coût total d'un séjours en fonctions des emplacements et des options du client</p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Liste des séjours &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Les options</h2>
        <p>Ce module vous permet de créer, modifier et supprimer des options disponible à la location.</p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Liste des options &raquo;</a></p>
    </div>
</div>